* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}

/* header */
.header {
    background-color: #fff;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__item span {
    color: #7A7A7A;
    font-size: 15px;
    font-weight: bold;
}

.header__item a {
    text-decoration: none;
    color: #7A7A7A;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    border: 2px solid #00AEDC;
    padding: 8px 25px;
    border-radius: 8px;
    margin-left: 20px;
    transition: all 0.3s ease-in;
}

.header__item a:hover {
    background-color: #00AEDC;
    color: #fff;
}

#header__icon {
    display: none;
    color: #7A7A7A;
}

/* main */
.main {
    background-color: #F2F2F3;
    padding: 30px 0;
}

.main__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.main-content {
    flex: 2;
    min-width: 320px;
}

.main-sidecontent {
    flex: 1;
    min-width: 320px;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    height: max-content;
}

/* user */
.user {
    background-color: #fff;
    display: flex;
    gap: 30px;
    padding: 25px;
    border-radius: 5px;
}

.user__name--visible {
    display: none;
}

.user__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f3f8f9c0;
    padding: 10px;
}

.user__icons {
    margin: 15px 0 20px 0;
}

.user__contacts a {
    text-decoration: none;
    color: #372E4B;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    border: 2px solid #00AEDC;
    padding: 8px 25px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

.user__contacts a:hover {
    background-color: #00AEDC;
    color: #fff;
}

.user__name {
    font-size: 20px;
    color: #302644;
    margin-bottom: 15px;
}

.user__about p {
    font-size: 12px;
    color: #7A7A7A;
    line-height: 20px;
    font-weight: bold;
}

.user__about p:nth-child(5) {
    margin-top: 20px;
}

.user__text--visible {
    display: none;
    font-size: 13px;
    color: #352C49;
    text-align: end;
    font-weight: bold;
}

/* gallery */
.gallery {
    background-color: #fff;
    padding: 30px;
    margin: 15px 0;
    border-radius: 5px;
}

.gallery__heading {
    color: #352C49;
    font-size: 16px;
    margin-bottom: 20px;
}

.gallery__images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__image--big {
    width: 160px;
    flex-grow: 2;
}

.gallery__image--medium {
    width: 108px;
}

.gallery__image--small {
    width: 75px;
    flex-grow: 1;
}

.gallery__image:nth-child(1) {
    background-image: url("../images/gallery1.jpg");
}

.gallery__image:nth-child(2) {
    background-image: url("../images/gallery2.jpg");
}

.gallery__image:nth-child(3) {
    background-image: url("../images/gallery3.jpg");
}

.gallery__image:nth-child(4) {
    background-image: url("../images/gallery4.jpg");
}

.gallery__image:nth-child(5) {
    background-image: url("../images/gallery5.jpg");
}

.gallery__image:nth-child(6) {
    background-image: url("../images/gallery6.jpg");
}

.gallery__image:nth-child(7) {
    background-image: url("../images/gallery7.jpg");
}

.gallery__image:nth-child(8) {
    background-image: url("../images/gallery8.jpg");
}

.gallery__image:nth-child(9) {
    background-image: url("../images/gallery9.jpg");
}

.gallery__image:nth-child(10) {
    background-image: url("../images/gallery10.jpg");
}

.gallery__image:nth-child(11) {
    background-image: url("../images/gallery11.jpg");
}

.gallery__image:nth-child(12) {
    background-image: url("../images/gallery12.jpg");
}

.gallery__image:nth-child(13) {
    background-image: url("../images/gallery13.jpg");
}

/* reviews */
.review {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
}

.review__heading {
    color: #352C49;
    font-size: 16px;
    margin-bottom: 20px;
}

.review__info {
    display: flex;
    padding: 20px 0;
    gap: 30px;
}

.review__info:nth-child(2) {
    border-bottom: 1px solid #DBDCDE;
}

.review__rate {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.review__img {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    background-color: #F3F8F9;
    padding: 8px;
}

.review__img--visible {
    display: none;
}

.review__author {
    color: #352C49;
    font-size: 14px;
    font-weight: bold;
}

.review__text p {
    font-size: 12px;
    color: #c0c0c0;
}

.review__paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.review__page {
    margin: 0 10px;
    font-size: 12px;
    color: #D4D4D4;
    cursor: pointer;
}

.review__paging img {
    cursor: pointer;
}

.review__page--active {
    color: #505354;
    background-image: url("../images/Rectangle\ Copy\ 8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4px 8px 8px 8px;
}

.review__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__staring {
    cursor: pointer;
}

textarea {
    outline: none;
    width: 100%;
    height: 120px;
    border: 1px solid #cccccc;
    padding: 25px;
    font-size: 12px;
    color: #D4D4D4;
    margin: 10px 0 25px 0;
    border-radius: 8px;
}

.review__button-container {
    display: flex;
    justify-content: flex-end;
}

.review__button--disabled {
    outline: none;
    border: none;
    background-color: #F0F1F1;
    color: #BAB8C0;
    padding: 12px 45px;
    border-radius: 5px;
}

/* guide */
.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.guide__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.guide__text {
    font-weight: bold;
    font-size: 16px;
}

/* services */
.service__heading {
    color: #352C49;
    font-size: 16px;
    margin: 20px 0 30px 0;
}

.service__item {
    display: flex;
    border: 1px solid #E8E8E9;
    margin: 15px 0;
    border-radius: 15px;
}

.service__item--active {
    border: 1px solid #00AEDC;
}

.service__time {
    width: 38px;
    height: 38px;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.service__item:nth-child(2) .service__condition .service__time {
    background-color: #F5B118;
}

.service__item:nth-child(3) .service__condition .service__time {
    background-color: #5CD6BE;
}

.service__item:nth-child(4) .service__condition .service__time {
    background-color: #B8B8FE;
}

.service__condition {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid #E8E8E9;
    background-color: #F9F9FA;
}

.time {
    font-size: 10px;
    font-weight: 100;
}

.service__price {
    font-size: 12px;
    color: #352C49;
    font-weight: bold;
}

.service__oferings {
    padding: 10px;
    width: 100%;
}

.service__title {
    display: flex;
    justify-content: space-between;
}

.service__title h4 {
    font-size: 14px;
    color: #352C49;
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 90%;
}

.service__check {
    width: 18px;
    height: 18px;
}

/* input {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

}

input:checked {
    border: 2px solid #00AEDC;
} */

.service__checkbox-container {
    position: relative;
    padding-left: 18px;
    cursor: pointer;
  }
  
  /* Hide the browser's default checkbox */
  .service__checkbox-container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .service__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #00AEDC;
    border-radius: 50%;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .service__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .service__checkbox-container input:checked ~ .service__checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .service__checkbox-container .service__checkmark:after {
    left: 5px;
    top: -5px;
    width: 5px;
    height: 11px;
    border: solid #00AEDC;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.service__text {
    color: #7A7A7A;
    font-size: 14px;
}

.service__readmore {
    font-size: 13px;
    color: #352C49;
}

.service__booking {
    text-decoration: none;
    width: 100%;
    display: block;
    background-color: #00AEDC;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* service-block */
.service--visible {
    display: none;
    background-color: #fff;
    min-width: 320px;
    padding: 25px;
}

.service__showarrow {
    text-align: end;
}

.service__item:nth-child(2) .service__condition .service__time--color {

    background-color: #5CD6BE;
}

.service__item:nth-child(3) .service__condition .service__time--color {
    background-color: #F5B118;
}

.service__item:nth-child(4) .service__condition .service__time--color {
    background-color: #B8B8FE;
}

.service__showarrow i {
    color: #9B9EA3;
}

/* media */
@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 970px) {
    .header__items {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    .user {
        flex-direction: column;
    }
}

@media only screen and (max-width: 576px) {
    .main {
        padding: 15px 0 40px 0;
    }

    .main-items {
        gap: 8px;
    }

    .header__item {
        display: none;
    }

    #header__icon {
        display: block;
    }

    .user {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .user__name {
        display: none;
    }

    .user__name--visible {
        display: block;
        margin-bottom: 5px;
    }

    .user__profile {
        flex-direction: row;
        justify-content: center;
    }

    .user__contacts {
        margin-left: 25px;
        align-items: flex-start;
    }

    p:nth-child(4) {
        display: none;
    }

    .user__text--visible {
        display: block;
    }

    .review__rate {
        flex-direction: column;
    }

    .main-sidecontent {
        order: 1;
    }

    .main-content {
        order: 2;
    }

    .service {
        display: none;
    }

    .service--visible {
        display: block;
    }

    .review__img {
        display: none;
    }

    .review__img--visible {
        display: block;
        margin-right: 10px;
    }

    .review__head {
        display: flex;
    }

    .service__booking {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .user__img {
        width: 80px;
        height: 80px;
    }

    .user__contacts a {
        font-size: 12px;
        padding: 5px 20px;
    }

    .user__name {
        font-size: 15px;
    }

    .user__icons {
        margin: 10px 0;
    }

    .user__icons img {
        width: 20px;
        height: 20px;
    }

}